# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# Docker
.docker/
postgres_data/
Dockerfile
docker-compose.yml

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Tests & coverage
.pytest_cache/
htmlcov/
.coverage

# Alembic
alembic/versions/*.pyc

# Logs
logs/
*.log

# Node / frontend
node_modules/

# Terraform
terraform/
.terraform/

# Build artifacts
dist/
build/
*.egg-info/

# Type checkers
.mypy_cache/
.pytype/
.pyre/

# OS
.DS_Store

# Docs
docs/
